@charset "utf-8";

/*------------------------Header------------------------*/
#header { /*Styling for header*/
    background-color: #344a69;
    margin: 0;
    text-align: center;
}

#HeaderTitle, #HeaderSubTitle { /*Styling for main and sub titles*/
    margin: 0;
    color: #ab9353;
    text-align: center;
}

#HeaderTitle { /*Text styling for main title*/
    text-align: center;
    display: inline-block;
    font-family: 'MonteCarlo', cursive;
    font-weight: 500;
    font-size: 90px;
    margin-left: auto;
    margin-right: auto;
}

#HeaderSubTitle { /*Text styling for sub title*/
    margin-left: auto;
    margin-right: auto;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
    'Helvetica Neue', Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 25px;
}

.MainNav {
    display: flex;
    flex-direction: row;
    padding-bottom: 2%;
    padding-left: 0;
    justify-content: space-between;
    margin: 2%;

}

.MainNav li {
    list-style-type: none;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 21px;
    background-color: #f4e4d4;
    padding: 0.5% 0.5% 0.5% 0.5%;
    border: 2px black solid;
}

.MainNav a:hover {
    color: #ab9353;
}

h1 a, a:hover, a:link, a:visited, a:active {
    text-decoration: none;
    color: inherit;
}

/*header #NavBar1 , #NavBar2{
    margin-left: 6%;
}

header #NavBar3Push {
    margin-left: auto;
}

header #NavBar4, #NavBar3Push {
    margin-right: 6%;
}*/

body {
    margin: 0;
    background-color: #344a69;
}

body #HorizontalLine3 {
    display: inline-block;
    float: left;
    width: 20%;
    border-color: #ab9353;
}

body #HorizontalLine4 {
    float: right;
    display: inline-block;
    width: 20%;
    border-color: #ab9353;
}

/*------------------------Homepage------------------------*/
main {
    display: inline-block;
    float: left;
    width: 40%;
    margin-left: 3%;
    margin-top: 5%;
}

#MainTitle {
    font-size: 40px;
    color: #ab9353;
}

#MainTitle, #MainText {
    text-align: center;
    font-family: 'Libre Franklin', sans-serif;
}

#MainText {
    font-size: 20px;
    text-align: center;
    color: #d7cec7;
    padding-top: 20px;
}

aside {
    display: inline-block;
    float: right;
    width: 50%;
    /*
    border: 2px red solid;
    */
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 1%;
}

aside img {
    border-radius: 2px;
}

#WT_IMAGE_1 {
/*    width: 355px;
    height: 214px;*/
    width: 35%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#WT_IMAGE_2 {
/*    width: 343px;
    height: 247px;*/
    width: 37%;
    height: auto;
    margin-left: 18%;
    margin-top: 2%;
}

#WT_IMAGE_3 {
/*    width: 333px;
    height: 249px;*/
    width: 35.5%;
    height: auto;
    margin-left: 2%;
}

.enlargeImage:hover {
    cursor: pointer;
}

.AsideModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
/*------------------------Modal Images------------------------*/
.ModalImage {
    margin: auto;
    display: block;
}

#ModalCaption {
    font-family: 'Libre Franklin', sans-serif;
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.ModalClose {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.ModalClose:hover,
.ModalClose:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
/*------------------------Gallery------------------------*/
.GalleryFlexContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
    gap: 4%;
}

.GalleryFlexElements {
    border: 1px solid #ab9353;
    background-color: #616161;
    display: block;
    height: 450px;
    font-size: 30px;
    margin-top: 1%;
    margin-bottom: 1%;
}

#GalleryFlexElementImg1 {
    width: 269px;
    height: 216px;
}

#GalleryFlexElementImg2 {
    width: 313px;
    height: 216px;
}

#GalleryFlexElementImg3 {
    width: 328px;
    height: 219px;
}

#GalleryFlexElementImg4 {
    width: 298px;
    height: 196px;
}

#GalleryFlexElementImg5 {
    width: 299px;
    height: 195px;
}

#GalleryFlexElementImg6 {
    width: 291px;
    height: 201px;
}

#GalleryFlexElementImg7 {
    width: 368px;
    height: 184px;
}

#GalleryFlexElementImg8 {
    width: 212px;
    height: 259px;
}

#GalleryFlexElementImg9 {
    width: 260px;
    height: 260px;
}

#GalleryFlexElementImg10 {
    width: 260px;
    height: 260px;
}

#GalleryFlexElementImg11 {
    width: 299px;
    height: 213px;
}

#GalleryFlexElementImg12 {
    width: 295px;
    height: 222px;
}

figcaption {
    line-height: 2;
    text-align: center;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
    color: #f4e4d4;
}

.AddToCartButton, .AddToCartButtonVisited, .BeforeAfterButtons {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    line-height: 2;
    text-align: center;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
    color: black;
    background-color: #ab9353;
    border: 1px solid black;
}

.AddToCartButton:hover, .BeforeAfterButtons:hover {
    cursor:pointer;
    background-color: #f4e4d4;
    color: #ab9353;
}

.AddToCartButtonVisited {
    cursor:pointer;
    background-color: #f4e4d4;
    color: #ab9353;
}
/*------------------------Restorations------------------------*/

.RestorationsFlexContainer {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}

.RestorationFlexElements {
    width: 26%;
    height: 700px;
    display: block;
    margin: 10px;
    font-size: 30px;
    border: 1px solid #ab9353;
    background-color: #616161;

}

#OilPainting, #Reframing, #FireDamage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#OilPaintingText, #ReframingText, #FireDamageText {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
    color: #d7cec7;
    margin-right: 2%;
    margin-left: 2%;
    }

#OilPainting {
    /*width: 290px;*/
    /*height: 197px;*/
    width: 100%;
    height: auto;
    margin-bottom: 13%;

}

#Reframing {/*
    width: 256px;
    height: 201px;*/
    width: 100%;
    height: auto;
    margin-bottom: 2%;
}

#FireDamage {
/*    width: 270px;
    height: 208px;*/
    width: 100%;
    height: auto;
}

.RestorationsFlexContainer h3 {
    text-align: center;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
    color: #ab9353;
}
/*------------------------Settings------------------------*/
.StyleButtons { /*Styling buttons for changing font size and background colour*/
    list-style-type: none;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
}

#SettingsFlexContainer {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 20%;
}

#Reset, #SettingsSubmitButton, #TitleFontSize, #SubTitleFontSize {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
    color: black;
    background-color: #ab9353;
    border: 1px solid black;
    column-gap: 2%;
    height: 30px;
    margin-bottom: 2%;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#Reset, #SettingsSubmitButton {
    width: 30%;
}

#Reset:hover, #SettingsSubmitButton:hover {
    cursor: pointer;
    background-color: #f4e4d4;
    color: #ab9353;
}

#PrimaryColourLabel, #TextColourLabel, #TitleFontSizeLabel, #SubTitleFontSizeLabel {
    display: block;
    text-align: center;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
    color: #ab9353;
    margin-bottom: 1%;
    margin-top: 5%;

}

#BackgroundColour, #TextColour {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    border: 1px solid black;
}


/*------------------------Account------------------------*/

#AccountCreationForm {
    margin-top: 3%;
    margin-right: auto;
    margin-left: auto;
    width: 700px;
    height: 60%;
    /*
    border: 1px solid #ab9353;
    */
    text-align: center;
}

#AccountCreationForm label, #ErrorMessage {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
    color: #ab9353;
}

.FormElementsValid, .Selection, .FormElementsInvalid{
    margin-top: 2%;
    margin-right: 0.5%;
    padding-right: 2%;
    background-color:#f4e4d4 ;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 17px;
    color: black;
    height: 5%;
}


input:invalid {
    border-color: #900;
    background-color: #FDD;
}

.Selection {
    height: 30px;
}

#Prefix {
    margin-left: 8.4%;
    width: 12%;
}

#FirstName{
    width: 23.7%;
}

#Surname{
    width: 16%;
}

#EmailAddress {
    margin-left: 2.8%;
    width: 57%
}

#CountryCodes {
    margin-left: 1.6%;
    width: 12%;
}

#PhoneNumber {
    width: 43.8%;
}

#Postcode {
    margin-left: 8.9%;
    width: 57.2%;
}

#Address {
    margin-left: 10.5%;
    width: 57.2%;
}

#SubmitButton {
    background-color: #ab9353;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 17px;
    color: black;
    margin-top: 1.5%;
    margin-left: 22%;
    height: 50px;
    width: 60%;
}

#SubmitButton:hover {
    cursor:pointer;
    background-color: #f4e4d4;
    color: #ab9353;
}

#ErrorMessage {
    margin-left: 25%;
}

@media only screen and (max-width: 600px) {
    .MainNav {
        flex-direction: column;
    }
    #NavBar1 {
        margin-left: 0;
    }
    body #HorizontalLine3 {
        width: 100%;
    }
    body #HorizontalLine4 {
        display: none;
    }
    main {
        display: block;
        float: none;
        width: 90%;
    }
    aside {
        display: block;
        float: none;
        width: 90%;
    }
    #WT_IMAGE_1, #WT_IMAGE_2, #WT_IMAGE_3{
        width: 100%;
        margin-left: 5%;
    }

}
