@charset "utf-8";

/*------------------------Header------------------------*/
#header { /*Styling for header*/
    background-color: #344a69; /*Sets colour to Navy Blue*/
    margin: 0; /*Sets all margins of element to 0*/ 
    text-align: center; /*Centers text relative to parent element*/
}

#HeaderTitle, #HeaderSubTitle { /*Styling for main and sub titles*/
    margin: 0; /*Sets all margins of element to 0*/
    color: #ab9353; /*Sets colour to Gold*/
    text-align: center; /*Centers text relative to parent element*/
}

#HeaderTitle { /*Text styling for main title*/
    text-align: center; /*Centers text relative to parent element*/
    display: inline-block; /*Causes element to be displayed in line with corresponding other elements*/
    font-family: 'MonteCarlo', cursive; /*https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200&family=MonteCarlo&display=swap*/
    font-weight: 500;
    font-size: 90px; /*Sets default title font size*/
    margin-left: auto; /*Force centre aligns text within parent element*/ 
    margin-right: auto; /*Force centre aligns text within parent element*/ 
}

#HeaderSubTitle { /*Text styling for sub title*/
    margin-left: auto; /*Force centre aligns text within parent element*/
    margin-right: auto; /*Force centre aligns text within parent element*/
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", /*https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200&family=MonteCarlo&display=swap*/
    'Helvetica Neue', Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 25px;
}

.MainNav {
    display: flex; /*Sets the flex display mode*/
    flex-direction: row;
    padding-bottom: 2%;
    padding-left: 0;
    justify-content: space-between;
    margin: 2%;

}

.MainNav li {
    list-style-type: none;
    font-family: 'Libre Franklin', sans-serif; /*https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200&family=MonteCarlo&display=swap*/
    font-size: 21px;
    background-color: #f4e4d4;
    padding: 0.5% 0.5% 0.5% 0.5%;
    border: 2px black solid;
}

.MainNav a:hover {
    color: #ab9353; /*Sets colour to Gold*/
}

h1 a, a:hover, a:link, a:visited, a:active {
    text-decoration: none;
    color: inherit;
}

body {
    margin: 0; /*Sets all margins of element to 0*/
    background-color: #344a69; /*Sets colour to Navy Blue*/
}

body #HorizontalLine3 {
    display: inline-block; /*Causes element to be displayed in line with corresponding other elements*/
    float: left;
    width: 20%;
    border-color: #ab9353; /*Sets colour to Gold*/
}

body #HorizontalLine4 {
    float: right;
    display: inline-block; /*Causes element to be displayed in line with corresponding other elements*/
    width: 20%;
    border-color: #ab9353; /*Sets colour to Gold*/
}

/*------------------------Homepage------------------------*/
main {
    display: inline-block; /*Causes element to be displayed in line with corresponding other elements*/
    float: left;
    width: 40%;
    margin-left: 3%;
    margin-top: 5%;
}

#MainTitle {
    font-size: 40px;
    color: #ab9353; /*Sets colour to Gold*/
}

#MainTitle, #MainText {
    text-align: center; /*Centers text relative to parent element*/
    font-family: 'Libre Franklin', sans-serif; /*https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200&family=MonteCarlo&display=swap*/
}

#MainText {
    font-size: 20px;
    text-align: center; /*Centers text relative to parent element*/
    color: #d7cec7;
    padding-top: 20px;
}

aside {
    display: inline-block; /*Causes element to be displayed in line with corresponding other elements*/
    float: right;
    width: 50%;
    /*
    border: 2px red solid;
    */
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 1%;
}

aside img {
    border-radius: 2px;
}

#WT_IMAGE_1 {
/*    width: 355px;
    height: 214px;*/
    width: 35%;
    height: auto;
    display: block;
    margin-left: auto; /*Force centre aligns text within parent element*/
    margin-right: auto; /*Force centre aligns text within parent element*/
}

#WT_IMAGE_2 {
/*    width: 343px;
    height: 247px;*/
    width: 37%;
    height: auto;
    margin-left: 18%;
    margin-top: 2%;
}

#WT_IMAGE_3 {
/*    width: 333px;
    height: 249px;*/
    width: 35.5%;
    height: auto;
    margin-left: 2%;
}

.enlargeImage:hover {
    cursor: pointer;
}
/*------------------------Modal Images------------------------*/
.AsideModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit in front of webpage */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(52,74,105); /* Fallback color */
    background-color: rgba(52,74,105,0.9); /* Black w/ opacity */
}

.ModalImage {
    margin: auto;
    display: block;
}

#ModalCaption {
    font-family: 'Libre Franklin', sans-serif; /*https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200&family=MonteCarlo&display=swap*/
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center; /*Centers text relative to parent element*/
    color: #f4e4d4;
    padding: 10px 0;
    height: 150px;
}

.ModalClose {
    position: absolute;
    top: 1%;
    right: 2%;
    color: #f4e4d4;
    font-size: 40px;
    font-weight: bold;
}

.ModalClose:hover, .ModalClose:focus {
    color:#ab9353;
    text-decoration: none;
    cursor: pointer;
}
/*------------------------Gallery------------------------*/
.GalleryFlexContainer {
    display: flex; /*Sets the flex display mode*/
    flex-wrap: wrap; /*Causes the flex to wrap to next line if width limit is reached*/ 
    align-items: flex-start; /*Causes the flex to start aligning elements at the start of the flex container*/
    align-content: center;
    justify-content: center;
    gap: 4%;
}

.GalleryFlexElements {
    border: 1px solid #ab9353; /*Sets colour to Gold*/
    background-color: #616161;
    display: block;
    height: 450px;
    font-size: 30px;
    margin-top: 1%;
    margin-bottom: 1%;
}

#GalleryFlexElementImg1 { /*Sets linearly scaled dimensions for the image*/
    width: 269px;
    height: 216px;
}

#GalleryFlexElementImg2 { /*Sets linearly scaled dimensions for the image*/
    width: 313px;
    height: 216px;
}

#GalleryFlexElementImg3 { /*Sets linearly scaled dimensions for the image*/
    width: 328px;
    height: 219px;
}

#GalleryFlexElementImg4 { /*Sets linearly scaled dimensions for the image*/
    width: 298px;
    height: 196px;
}

#GalleryFlexElementImg5 { /*Sets linearly scaled dimensions for the image*/
    width: 299px;
    height: 195px;
}

#GalleryFlexElementImg6 { /*Sets linearly scaled dimensions for the image*/
    width: 291px;
    height: 201px;
}

#GalleryFlexElementImg7 { /*Sets linearly scaled dimensions for the image*/
    width: 368px;
    height: 184px;
}

#GalleryFlexElementImg8 { /*Sets linearly scaled dimensions for the image*/
    width: 212px;
    height: 259px;
}

#GalleryFlexElementImg9 { /*Sets linearly scaled dimensions for the image*/
    width: 260px;
    height: 260px;
}

#GalleryFlexElementImg10 { /*Sets linearly scaled dimensions for the image*/
    width: 260px;
    height: 260px;
}

#GalleryFlexElementImg11 { /*Sets linearly scaled dimensions for the image*/
    width: 299px;
    height: 213px;
}

#GalleryFlexElementImg12 { /*Sets linearly scaled dimensions for the image*/
    width: 295px;
    height: 222px;
}

#GalleryWalk { /*Sets linearly scaled dimensions for the video*/
    width: 480px;
    height: 270px;
    margin-top: 2%;
}

.GalleryVideo {
    border: 1px solid #ab9353; /*Sets colour to Gold*/
    background-color: #616161; /*Sets background colour of flex box elements to grey*/
    display: block;
    padding: 2%;
}

figcaption {
    line-height: 2; /*Text formatting for image captions*/
    text-align: center; /*Centers text relative to parent element*/
    font-family: 'Libre Franklin', sans-serif; /*https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200&family=MonteCarlo&display=swap*/
    font-size: 20px;
    color: #f4e4d4;
}

.AddToCartButton, .AddToCartButtonVisited, .BeforeAfterButtons {
    display: block;
    margin-top: 20px;
    margin-left: auto; /*Force centre aligns text within parent element*/
    margin-right: auto; /*Force centre aligns text within parent element*/
    line-height: 2;
    text-align: center; /*Centers text relative to parent element*/
    font-family: 'Libre Franklin', sans-serif; /*https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200&family=MonteCarlo&display=swap*/
    font-size: 20px;
    color: black;
    background-color: #ab9353; /*Sets colour to Gold*/
    border: 1px solid black;
}

.AddToCartButton:hover, .BeforeAfterButtons:hover {
    cursor:pointer;
    background-color: #f4e4d4;
    color: #ab9353; /*Sets colour to Gold*/
}

.AddToCartButtonVisited {
    cursor:pointer;
    background-color: #f4e4d4;
    color: #ab9353; /*Sets colour to Gold*/
}
/*------------------------Restorations------------------------*/

.RestorationsFlexContainer {
    display: flex; /*Sets the flex display mode*/
    align-items: stretch;
    flex-wrap: wrap; /*Causes the flex to wrap to next line if width limit is reached*/
    justify-content: space-around;
    gap: 10px;
}

.RestorationFlexElements {
    width: 26%;
    height: 750px;
    display: block;
    margin: 10px;
    font-size: 30px;
    border: 1px solid #ab9353; /*Sets colour to Gold*/
    background-color: #616161;

}

#OilPainting, #Reframing, #FireDamage {
    display: block;
    margin-left: auto; /*Force centre aligns text within parent element*/
    margin-right: auto; /*Force centre aligns text within parent element*/
}

#OilPaintingText, #ReframingText, #FireDamageText {
    font-family: 'Libre Franklin', sans-serif; /*https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200&family=MonteCarlo&display=swap*/
    font-size: 16px;
    line-height: 1.4;
    text-align: center; /*Centers text relative to parent element*/
    color: #d7cec7;
    margin-right: 2%;
    margin-left: 2%;
    }

#OilPainting {
    /*width: 290px;*/
    /*height: 197px;*/
    width: 100%;
    height: auto;
    margin-bottom: 13%;

}

#Reframing {/*
    width: 256px;
    height: 201px;*/
    width: 100%;
    height: auto;
    margin-bottom: 2%;
}

#FireDamage {
/*    width: 270px;
    height: 208px;*/
    width: 100%;
    height: auto;
}

.RestorationsFlexContainer h3 {
    text-align: center; /*Centers text relative to parent element*/
    font-family: 'Libre Franklin', sans-serif; /*https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200&family=MonteCarlo&display=swap*/
    font-size: 20px;
    color: #ab9353; /*Sets colour to Gold*/
}
/*------------------------Settings------------------------*/
.StyleButtons { /*Styling buttons for changing font size and background colour*/
    list-style-type: none;
    text-decoration: none;
    margin-left: auto; /*Force centre aligns text within parent element*/
    margin-right: auto; /*Force centre aligns text within parent element*/
}

#SettingsFlexContainer {
    display: flex; /*Sets the flex display mode*/
    margin-left: auto; /*Force centre aligns text within parent element*/
    margin-right: auto; /*Force centre aligns text within parent element*/
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 20%;
}

#Reset, #SettingsSubmitButton, #TitleFontSize, #SubTitleFontSize {
    font-family: 'Libre Franklin', sans-serif; /*https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200&family=MonteCarlo&display=swap*/
    font-size: 20px;
    color: black;
    background-color: #ab9353; /*Sets colour to Gold*/
    border: 1px solid black;
    column-gap: 2%;
    height: 30px;
    margin-bottom: 2%;
    width: 25%;
    margin-left: auto; /*Force centre aligns text within parent element*/
    margin-right: auto; /*Force centre aligns text within parent element*/
    display: block;
}

#Reset, #SettingsSubmitButton {
    width: 30%;
}

#Reset:hover, #SettingsSubmitButton:hover {
    cursor: pointer;
    background-color: #f4e4d4;
    color: #ab9353; /*Sets colour to Gold*/
}

#PrimaryColourLabel, #TextColourLabel, #TitleFontSizeLabel, #SubTitleFontSizeLabel {
    display: block;
    text-align: center; /*Centers text relative to parent element*/
    font-family: 'Libre Franklin', sans-serif; /*https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200&family=MonteCarlo&display=swap*/
    font-size: 20px;
    color: #ab9353; /*Sets colour to Gold*/
    margin-bottom: 1%;
    margin-top: 5%;

}

#BackgroundColour, #TextColour {
    display: block;
    margin-left: auto; /*Force centre aligns text within parent element*/
    margin-right: auto; /*Force centre aligns text within parent element*/
    margin-bottom: 5%;
    border: 1px solid black;
}


/*------------------------Account------------------------*/

#AccountCreationForm {
    margin-top: 3%;
    margin-right: auto; /*Force centre aligns text within parent element*/
    margin-left: auto; /*Force centre aligns text within parent element*/
    width: 700px;
    height: 60%;
    text-align: center; /*Centers text relative to parent element*/
}

#AccountCreationForm label, #ErrorMessage {
    font-family: 'Libre Franklin', sans-serif; /*https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200&family=MonteCarlo&display=swap*/
    font-size: 20px;
    color: #ab9353; /*Sets colour to Gold*/
}

.FormElementsValid, .Selection, .FormElementsInvalid{
    margin-top: 2%;
    margin-right: 0.5%;
    padding-right: 2%;
    background-color:#f4e4d4 ;
    font-family: 'Libre Franklin', sans-serif; /*https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200&family=MonteCarlo&display=swap*/
    font-size: 17px;
    color: black;
    height: 5%;
}


input:invalid { /*If a form input returns invalid then change styling of input box to red*/
    border-color: #900;
    background-color: #FDD;
}

.Selection {
    height: 30px;
}

#Prefix {
    margin-left: 8.4%;
    width: 12%;
}

#FirstName{
    width: 23.7%;
}

#Surname{
    width: 16%;
}

#EmailAddress {
    margin-left: 2.8%;
    width: 57%
}

#CountryCodes {
    margin-left: 1.6%;
    width: 12%;
}

#PhoneNumber {
    width: 43.8%;
}

#Postcode {
    margin-left: 8.9%;
    width: 57.2%;
}

#Address {
    margin-left: 10.5%;
    width: 57.2%;
}

#SubmitButton {
    background-color: #ab9353; /*Sets colour to Gold*/
    font-family: 'Libre Franklin', sans-serif; /*https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200&family=MonteCarlo&display=swap*/
    font-size: 17px;
    color: black;
    margin-top: 1.5%;
    margin-left: 22%;
    height: 50px;
    width: 60%;
}

#SubmitButton:hover {
    cursor:pointer;
    background-color: #f4e4d4;
    color: #ab9353; /*Sets colour to Gold*/
}

#ErrorMessage {
    margin-left: 25%;
}

footer{
    margin-top: 70vh;
    font-size: 20px;
    text-align: center; /*Centers text relative to parent element*/
    color: #d7cec7;
    padding-top: 20px;
}

@media only screen and (max-width: 768px) { /*For screen sizes less than 768 pixels*/
    .MainNav {
        flex-direction: column; /*Change the nav bar elements to be a stacked column*/
    }
    #NavBar1 {
        margin-left: 0;
    }
    body #HorizontalLine3 { /*Make the other gold accent line span the page*/
        width: 100%;
    }
    body #HorizontalLine4 { /*Remove one of the gold accent lines*/
        display: none;
    }
    main {
        display: block; /*Cause main text element to span the page*/
        float: none;
        width: 90%;
    }
    aside {
        display: block; /*Cause homepage image collage to span the page*/
        float: none;
        width: 90%;
    }
    .RestorationsFlexContainer { /*Cause each element on restorations page to span the page*/
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .RestorationFlexElements {
        width: 90%;
    }

    #WT_IMAGE_1, #WT_IMAGE_2, #WT_IMAGE_3{
        width: 100%;
        margin-left: 5%;
    }
    #AccountCreationForm {
        width: 100%;
    }


}
