@charset "utf-8";

header {
    background-color: #344a69;
    margin: 0;
    text-align: center;
}

#HeaderTitle, #HeaderSubTitle {
    margin: 0;
    color: #ab9353;
    text-align: center;
}

#HeaderTitle {
    text-align: center;
    display: inline-block;
    font-family: 'MonteCarlo', cursive;
    font-weight: 500;
    font-size: 90px;
    margin-left: auto;
    margin-right: auto;
    padding-left:225px;
}

#HeaderSubTitle {
    margin-left: auto;
    margin-right: auto;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
    'Helvetica Neue', Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 25px;
}

.StyleButtons {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
}

#ChangeBackground, #Reset, #FontSize {
    display: inline-block;
    float: right;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
    color: black;
    background-color: #ab9353;
    border: 1px solid black;
}

#ChangeBackground:hover, #Reset:hover, #FontSize:hover {
    cursor: pointer;
    background-color: #f4e4d4;
    color: #ab9353;
}

header .HorizontalLine1 {
    display: inline-block;
    width: 35%;
    border-color: #ab9353;
}

header .HorizontalLine2 {
    display: inline-block;
    width: 35%;
    border-color: #ab9353;
}

header .MainNav {
    display: flex;
    padding-bottom: 2%;
    padding-left: 0;
    margin-top: 0;
}

header .MainNav li {
    list-style-type: none;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 21px;
    background-color: #f4e4d4;
    padding: 0.5% 0.5% 0.5% 0.5%;
    border: 2px black solid;
}

/* mouse over link */
.MainNav a:hover {
    color: #ab9353;
}


h1 a, a:hover, a:link, a:visited, a:active {
    text-decoration: none;
    color: inherit;
}

header .NavBar1 , .NavBar2{
    margin-left: 6%;
}

header .NavBar3Push {
    margin-left: auto;
}

header .NavBar4, .NavBar3Push {
    margin-right: 6%;
}

body {
    margin: 0;
    background-color: #344a69;
}

body .HorizontalLine3 {
    display: inline-block;
    float: left;
    width: 20%;
    border-color: #ab9353;
}

body .HorizontalLine4 {
    float: right;
    display: inline-block;
    width: 20%;
    border-color: #ab9353;
}

main {
    display: inline-block;
    float: left;
    width: 40%;
    margin-left: 3%;
    margin-top: 5%;
}

main h1 {
    font-size: 40px;
    color: #ab9353;
}

main h1, p {
    text-align: center;
    font-family: 'Libre Franklin', sans-serif;
}

main p {
    font-size: 20px;
    text-align: center;
    color: #d7cec7;
    padding-top: 20px;
}

aside {
    display: inline-block;
    float: right;
    width: 50%;
    /*
    border: 2px red solid;
    */
    margin-right: 2%;
    margin-top: 1%;
}

aside img {
    border-radius: 2px;
}

.AsideImages:hover {
    cursor: pointer;
}


#WT_IMAGE_1 {
    width: 457px;
    height: 276px;
    margin-left: 200px;
    margin-bottom: 10px;
}

#WT_IMAGE_2 {
    width: 409px;
    height: 294px;
    margin-right: 10px;
}

#WT_IMAGE_3 {
    width: 392px;
    height: 293px;
}

/* The Modal (background) */
.AsideModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.ModalImage {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#ModalCaption {
    font-family: 'Libre Franklin', sans-serif;
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.ModalImage, #ModalCaption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.ModalClose {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.ModalClose:hover,
.ModalClose:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
/*------------------------Gallery------------------------*/
.GalleryFlexContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: space-around;
    justify-content: space-around;
    gap: 20px 20px;

}

.GalleryFlexElements {
    border: 1px solid #ab9353;
    display: block;
    height: 450px;
    margin: 10px;
    font-size: 30px;
}

#GalleryFlexElementImg1 {
    width: 269px;
    height: 216px;
}

#GalleryFlexElementImg2 {
    width: 313px;
    height: 216px;
}

#GalleryFlexElementImg3 {
    width: 176px;
    height: 224px;
}

#GalleryFlexElementImg4 {
    width: 298px;
    height: 196px;
}

#GalleryFlexElementImg5 {
    width: 299px;
    height: 195px;
}

#GalleryFlexElementImg6 {
    width: 291px;
    height: 201px;
}

#GalleryFlexElementImg7 {
    width: 295px;
    height: 171px;
}

#GalleryFlexElementImg8 {
    width: 212px;
    height: 259px;
}

#GalleryFlexElementImg9 {
    width: 260px;
    height: 260px;
}

#GalleryFlexElementImg10 {
    width: 260px;
    height: 260px;
}

#GalleryFlexElementImg11 {
    width: 299px;
    height: 213px;
}

#GalleryFlexElementImg12 {
    width: 295px;
    height: 222px;
}

figcaption {
    line-height: 2;
    text-align: center;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
    color: #f4e4d4;
}

.AddToCartButton, .AddToCartButtonVisited, .BeforeAfterButtons {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    line-height: 2;
    text-align: center;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
    color: black;
    background-color: #ab9353;
    border: 1px solid black;
}

.AddToCartButton:hover, .BeforeAfterButtons:hover {
    cursor:pointer;
    background-color: #f4e4d4;
    color: #ab9353;
}

.AddToCartButtonVisited {
    cursor:pointer;
    background-color: #f4e4d4;
    color: #ab9353;
}
/*------------------------Restorations------------------------*/

.RestorationsFlexContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    gap: 10px;
}

.RestorationFlexElements {
    height: 500px;
    display: block;
    margin: 10px;
    font-size: 30px;
    border: 1px solid #ab9353;

}

#OilPainting {
    width: 290px;
    height: 197px;
}

#Reframing {
    width: 256px;
    height: 201px;
}

#FireDamage {
    width: 270px;
    height: 208px;
}

.RestorationsFlexContainer h3 {
    text-align: center;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
    color: #ab9353;
}
/*------------------------Account------------------------*/

#AccountCreationForm {
    margin-top: 3%;
    margin-left: 35%;
}

#AccountCreationForm label {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
    color: #ab9353;
}

.FormElements, .Selection {
    margin-top: 2%;
    margin-right: 0.5%;
    padding-right: 2%;
    height: 20px;
    background-color:#f4e4d4 ;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 17px;
    color: black;

}

.Selection {
    height: 26px;
}

#Prefix {
    margin-left: 4.8%;
    width: 7%;
}

#FirstName{
    width: 10%;
}

#Surname{
    width: 10%;
}

#EmailAddress {
    margin-left: 1.7%;
    width: 31.1%
}

#CountryCodes {
    margin-left: 1%;
    width: 8%;
}

#PhoneNumber {
    width: 22.2%;
}

#Postcode {
    margin-left: 5.1%;
    width: 31.2%;
}

#Address {
    margin-left: 6%;
    width: 31.2%;
}

#SubmitButton {
    background-color: #ab9353;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 17px;
    color: black;
    margin-top: 1.5%;
    margin-left: 43.1%;
    height: 50px;
    width: 21.9%;
}

#SubmitButton:hover {
    cursor:pointer;
    background-color: #f4e4d4;
    color: #ab9353;
}